@import "src/config.scss";

ion-button {
    --background: #e47900;
    --color: #fff;
}

.bgLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-image: url("../../assets/fund_login.svg");
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
}
