<ion-content>
  <div class="bgLogin">
    <div class="bgEscolha">
      <div class="forms">
        <div class="segment">
          <ion-segment (ionChange)="segmentChanged($event)" value="login" mode="ios">
            <ion-segment-button value="login">
              <ion-label>Login</ion-label>
            </ion-segment-button>
            <ion-segment-button value="registrar">
              <ion-label>Cadastrar</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>

        <div class="fundo" id="login">
          <h1 class="titulo">Login</h1>
          <form (ngSubmit)="login()">

            <ion-input class="ion-input" type="email" [(ngModel)]="email" name="email" placeholder="E-mail">
              <ion-icon name="mail-outline"></ion-icon>
            </ion-input>

            <div class="ion-input addInput">
              <ion-icon name="lock-closed-outline"></ion-icon>
              <ion-input type="password" [(ngModel)]="password" name="senha" placeholder="Senha" [type]="passwordType">
              </ion-input>
              <ion-icon [name]="passwordIcon" class="password-icon" (click)='viewPassword()' slot="end"></ion-icon>
            </div>


            <ion-button type="submit" expand="block" value="login">Entrar</ion-button>
            <div style="display: none;">
              <p class="social-text">Ou entre com as redes sociais</p>
              <div class="social-media">
                <a href="#" class="social-icon">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-google"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>
            </div>

          </form>
        </div>

        <div class="fundo" id="registrar">
          <h1 class="titulo">Cadastrar</h1>
          <form (ngSubmit)="criarConta()">

            <ion-input class="ion-input" type="text" [(ngModel)]="nome" name="nome" placeholder="Nome">
              <ion-icon name="person-outline"></ion-icon>
            </ion-input>

            <ion-input class="ion-input" type="email" [(ngModel)]="email" name="email" placeholder="E-mail">
              <ion-icon name="mail-outline"></ion-icon>
            </ion-input>

            <div class="ion-input addInput">
              <ion-icon name="lock-closed-outline"></ion-icon>
              <ion-input type="password" [(ngModel)]="password" name="senha" placeholder="Senha" [type]="passwordType">
              </ion-input>
              <ion-icon [name]="passwordIcon" class="password-icon" (click)='viewPassword()' slot="end"></ion-icon>
            </div>

            <ion-button type="submit" expand="block" value="login">Cadastrar</ion-button>

            <div style="display: none;">
              <p class="social-text">Ou entre com as redes sociais</p>
              <div class="social-media">
                <a href="#" class="social-icon">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-google"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</ion-content>