<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="../../assets/slider/app aniversario-04.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/slider/app aniversario-05.png" alt="">
    </ion-slide>
  </ion-slides>



  <ion-slides pager>

    <ion-slide style="background-image: url('../../assets/imgs/slider/slider1.png');background-size: cover;  background-position: center;">
  
    </ion-slide>
  
    <ion-slide style="background-image: url('../../assets/imgs/slider/slider2.png');background-size: cover;  background-position: center;">
  
    </ion-slide>
  
    <ion-slide style="background-image: url('../../assets/imgs/slider/slider3.png');background-size: cover;  background-position: center;">
      <ion-grid>
        <ion-row>
          <ion-col><button (click)="navLogin()" ion-button clear><label style="color: #fff; font-size: 20px; ">Continuar
            <ion-icon name="arrow-forward" style="color: #fff; margin-left: 3px"></ion-icon></label></button></ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  
  
  </ion-slides>
  
</ion-content>


